<div class="top-container">
  <div class="contents">
    <ul>
      <li class="content btn1"><%= link_to "単語帳を作る", root_path %></li>
      <li class="content btn2"><%= link_to "クイズに挑戦する", root_path %></li>
    </ul>
  </div>
</div>