a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 20px 0;
  background: rgb(219, 219, 219);
  border-bottom: 1px solid black;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}

.header_title {
  font-size: 20px;
  font-weight: bold;
}

.lists {
  display: flex;
}

.list {
  margin-right: 2em;
}



