<header>
  <div class="container">
    <div class="header_title"><%= link_to "Tango", root_path %></div>
    <ul class="lists">
      <li class="list"><%= link_to "ランキング", root_path %></li>
      <li class="list"><%= link_to "ログアウト", root_path %></li>
    </ul>
  </div>
</header>