<div class="show-main">
  <span class="wordbook-title-show"><%= @category.title %></span>
  <%# <%= form_with model:@vacabulary, url: %> %>
  <table>
    <tr>
      <th>単語</th>
      <th>意味</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    </table>
</div>
